@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Julius+Sans+One&display=swap');
*{
    font-family: 'Comfortaa';
}
html,
h1,
h2,
h3,
h4,
h5,
h6{
    color: #5c5b5b;
}
body{
    background: #F4EEE5;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    color: rgb(0, 0, 0);
    padding: 50px;
    padding-right: 100px;

}

.header_title {
    text-align: center;
}
/*навигация*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #4a6539;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #4a6539;
    text-decoration: underline;
  }

  
/*описание*/
.col-1{
    padding-right: 30px;
    padding-top: 80px;
    padding-left:12px
}

.col{
    padding-left: 465px;
    padding-top: 100px;
}
.preview-text{

    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    font-size:200%;
    padding-bottom: 70px;
}
.col h2{
    padding-left: 35px;
}   
.col h3{
    padding-right: 440px;
    padding-top: 150px;
}
/*конец*/
.footer{
    background: #ffffff;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
 }
 .logo-text{
    font-size:200%;
    padding-top: 50px;
 }
 .links{
    font-size:160%;
 }
 .contact-form{
    font-size:110%;
 }
 .contact-form h3{
    font-size:140%;
    padding-top: 20px;
 }
 .footer .links ul a{
   display: block;
   transition: all .3s;
 }
 .footer .links ul a:hover{
   margin-left: 15px;
   transition: all .3s;
 }